<div class="post">

  <!-- <ion-item lines="none">

    <ion-avatar slot="start">
      <img src="/assets/avatars/{{post.usuario.avatar}}" />
    </ion-avatar>

    <ion-label>
      <h3>{{post.usuario.nombre}}</h3>
      <h5>{{post.usuario.email}}</h5>
    </ion-label>
  </ion-item> -->


  <!-- ngIf imgs -->
  <ion-slides pager="true" *ngIf="post.imgs.length > 1">
    <ion-slide  *ngFor="let img of post.imgs"
                class="image-slide"
                [style]=" (img | imagen: post.usuario._id) | domSanitizer">
    </ion-slide>
  </ion-slides>

  <ion-slides *ngIf="post.imgs.length === 1" [options]="slideSoloOpts">
    <ion-slide class="image-slide"
               [style]=" ( post.imgs[0] | imagen: post.usuario._id) | domSanitizer">
    </ion-slide>
  </ion-slides>

  <!-- mapa -->
  <app-mapa [coords]="post.coords" *ngIf="post.coords"></app-mapa>


  <!-- post -->


    <ion-row justify-content-around>
      <ion-col>
        <ion-button expand="block" fill="clear" >
          <ion-icon slot="icon-only" name="heart-empty"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="clear">
          <ion-icon slot="icon-only" name="map" coloe="medium"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="clear" >
          <ion-icon slot="icon-only" name="bookmark"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-item lines="none">
      <ion-button color="primary"              
                   href="https://img360prueba1.000webhostapp.com/">Ver Imagen 360</ion-button>
    </ion-item>

  <ion-item lines="none">
    <ion-label text-wrap>
        <h1><b>{{post.nombre}}</b></h1>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label text-wrap>
        {{post.mensaje | slice: 0: oculto}}...</ion-label>
      </ion-item>

  <ion-item lines="none">
    <ion-label color="primary"
              (click)="oculto=10000"
              *ngIf="oculto!==10000">Continuar leyendo...</ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label><b>Dirección:</b></ion-label>
   </ion-item>

  <ion-item lines="none">
    <ion-label text-wrap>
        {{post.direccion}}
    </ion-label>
  </ion-item>

  <ion-item lines="none">
  <ion-label><b>Horario de atención:</b></ion-label>
 </ion-item>

  <ion-item lines="none">
    <ion-label text-wrap>
        {{post.horario}}
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label><b>Precio:</b></ion-label>
   </ion-item>
  <ion-item lines="none">
    <ion-label text-wrap>
        {{post.costo}}
    </ion-label>
  </ion-item>
 
  <ion-item lines="none">
    <ion-label><b>Contactos:</b></ion-label>
   </ion-item>
  <ion-item lines="none">
    <ion-label text-wrap>
        {{post.contactos}}
    </ion-label>
  </ion-item>


</div>